*{
    margin: 0;
    padding: 0;
}
/*
position: relative;
    cursor: pointer;
    width: 450px;
    height: 450px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
*/
.container{
   text-align: center;
    align-items: center;
    margin: auto;
}
body{
    background-color: peachpuff;
    display: flex;
    justify-content: center;
    
}
h1{
    font-weight:900;   
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
     margin-bottom: 30px;

}
.box1{
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin: auto;
 

}
.element{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    height: 77px;
    width: 77px;
    background-color: white;
    margin: 15px;
    font-size: 30px;
    border-radius: 10px;
}
input{
    text-align: center;
    text-transform: capitalize;
}
.x{

}
input :disabled{
    background-color: pink;
    cursor: not-allowed;
}
@media screen and (max-width: 630px) and (min-width: 0px) {
    
    .element{
        height: 43px;
        width: 43px;
        border-radius: 8px;
        margin: 5px;
        font-size: 22px;
    }
    h1{
        margin-left: 8px;

    }
}
@media screen and (max-width: 630px) and (min-width: 559px) {
    
    .element{
        height: 70px;
        width: 70px;
        border-radius: 8px;
        margin: 12px;
        font-size: 30px;
    }
    
}
@media screen and (max-width: 555px) and (min-width: 370px) {
    
    .element{
        height: 47px;
        width: 47px;
        border-radius: 8px;
        margin: 7px
    }
    
}

